<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="serviceName" source="spring.application.name"
                    defaultValue="riskmesh-service"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
            <includeMdcKeyName>transactionId</includeMdcKeyName>
            <customFields>{"service":"${serviceName}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>